.character-list{
    width:18rem;
    margin-bottom: 1rem;
}

.character{
    display: grid;
    grid-auto-columns: 1fr 3fr 1fr;
    grid-template-areas: 
    'pic name eye'
    'pic status eye';
    column-gap:0.5rem;
    background-color:rgb(49,54,63);
    padding: 0.5rem;
    border-radius: 10px;
    color: azure;
    height: 4rem;
    font-size: small;
    align-items: center;
    margin-bottom: 1rem;
}

.character>*:nth-child(1){
    grid-area: pic;
}
.character>*:nth-child(2){
    grid-area: name;
    margin: 0;
    font-weight: bolder;
}
.character>*:nth-child(3){
    grid-area: status;
}
.character>*:nth-child(4){
    grid-area: eye;
}
.icon{
    color: red;
    width: 2rem;
}
.status {
    display: inline-block;
    width: 0.7rem;
    height: 0.7rem;
    border-radius: 50%;
    background-color: greenyellow;
}
  
.status.red {
background-color: red;
}

.character .charcter-pic{
    width:3rem;
    border-radius: 10px;
}

.shown-charcter{
    background-color:rgb(49,54,63);
    border-radius: 10px;
    color: azure;
    width: 40rem;
    margin: 1rem;
    overflow: hidden;
}

.shown-charcter>.charcter-pic{
    object-fit: cover;
    width:35%;
    height: 100%;
    margin-right: 2rem;
    float: inline-start;
}

.shown-charcter .status-text{
    flex:2;
    margin-top: -0.5rem;
    font-weight: lighter;
    font-size: small;
}
.location-text{
    margin-top: 2rem;
    color: gray;
}
.add-to-fav-btn{
    background-color: grey;
    border-radius: 10px;
    border: 2px double rgb(160, 160, 160);
    padding: 0.5rem;
    margin-bottom: 1rem;
    width:50%;
}

.shown-charcter-episodes{
    background-color:rgb(49,54,63);
    border-radius: 10px;
    color: azure;
    width: 40rem;
    margin: 1rem;
    overflow: hidden;
}
.episode-col-2{
    float:right;
}
.episode-h2{
    display: inline;
}
.episode-row-1{
    margin:1rem 2rem;
    padding: 1rem 0;
    border-bottom: 1px solid gainsboro;
}
.episode-data{
    margin:1rem 2rem; 
}
.charcter-comp{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    direction: ltr;
}

.no-character{
    width: 40rem;
    margin: 1rem;
}

